body {
  font-family: 'Arial', sans-serif;
  background-color: #fde8f0;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #b0005a;
}

#malla {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.ramo {
  background-color: #ffcce6;
  border: 2px solid #b0005a;
  border-radius: 8px;
  padding: 12px;
  width: 180px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
  pointer-events: none;
}

.ramo:hover {
  background-color: #ff99cc;
}

.ramo.aprobado {
  background-color: #ffe6f0;
  border: 2px solid #800040;
  color: #800040;
  opacity: 1;
}

.semestre {
  width: 100%;
  margin: 20px 0 5px;
  font-weight: bold;
  color: #800040;
  text-align: center;
  font-size: 1.3em;
}

.inicial {
  opacity: 1;
  pointer-events: auto;
}

